<?php
if(preg_match('/^config.php/',$_SERVER['PHP_SELF']))
{ header("HTTP/1.0 404 Not Found"); 
}

// --------- MYSQL Config --------- 
$dbhost = "";   // Servidor MySQL
$dbuname = "";
$dbpass = "";
$dbname = "";
$dbtype = "mysqli";     // mysql4 or MySQL or mysqli
$dbport = false;

// API key
$tw_consumer = "";
// API secret
$tw_secret = "";
// Access token 111..-xxx..
$tw_token_a ="";
// Access token secret
$tw_token_b = "";

// Primer seed utilizado, id y username
// Si no hay nada los toma de la DB
$id_str = false;
$screen_name = false;

date_default_timezone_set('America/Argentina/Buenos_Aires');

/* ################################################################## **/
/* TAGS a comparar, si se deja vacío no se identifican */
$tags = array ("test de tags");

// aumento el tiempo de ejecución
set_time_limit(1200);

// a partir de esta cuenta ya lo marco como bot porque seguro lo es.
$limite_tags = 10;
/* ################################################################## **/